{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{#    {% trans_default_domain 'FOSUserBundle' %}#}

    {{ form_start(form) }}
    
    <div class="page-header">
        <h2 class="text-primary"><i class="fa fa-cog" aria-hidden="true"></i> {{ 'nav.user.account'|trans({}, 'AppBundle') }}<span class="pull-right"> <a class="btn btn-default btn-sm" href="{{ url('fos_user_profile_show') }}" />Cancel</a> <input class="btn btn-primary btn-sm" value="Save" type="submit" /></span> </h2>
    </div>

    <div>

        {{ form_widget(form) }}

        {{ form_end(form) }}        

    </div>
{% endblock fos_user_content %}
