<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{{ webconfig.websiteName }} {% if webconfig.websiteDescription %} / {{ webconfig.websiteDescription }} {% endif %} {% endblock %}</title>

        <link href="{{ webconfig.bootstrapCSS }}" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        {% if webconfig.bootstrapEnable %}
            <link href="{{ webconfig.bootstrapTheme }}" rel="stylesheet">       
        {% endif %}
        <style>
            body { margin-top:70px; }
        </style>

        {% if webconfig.fontAwesomeEnable %}
            <link href="{{ webconfig.fontAwesomeCSS }}" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
        {% endif %}

    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">app.name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li><a href="#">{{ 'nav.home'|trans({}, 'AppBundle') }}</a></li>
                    <li><a href="#">{{ 'nav.map'|trans({}, 'AppBundle') }}</a></li>
                    <li><a href="#">{{ 'nav.galleries'|trans({}, 'AppBundle') }}</a></li>
                </ul>

                {% if is_granted("ROLE_USER") %}
                    <ul class="nav navbar-nav navbar-right">                   
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span>{{ 'nav.user.account'|trans({}, 'AppBundle') }}</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('fos_user_profile_show') }}">{{ 'nav.user.profile'|trans({}, 'AppBundle') }}</a></li>
                                <li><a href="#">{{ 'nav.user.options'|trans({}, 'AppBundle') }}</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('fos_user_security_logout') }}" >{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                    </ul>
                {% endif %}


                {% if is_granted('ROLE_ADMIN') %}
                    <ul class="nav navbar-nav navbar-right">                   
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span>{{ 'nav.admin'|trans({}, 'AppBundle') }}</a>
                            <ul class="dropdown-menu">

                                <li><a href="{{ path('admin_config') }}">{{ 'nav.admin.config'|trans({}, 'AppBundle') }}</a></li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}                

            </div><!--/.navbar-collapse -->
        </div>
    </nav> 

    <div class="container" id="content">
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ message|trans({}, 'AppBundle') }}
                </div>
            {% endfor %}
        {% endfor %}                

    {% block body %}{% endblock %}
</div>


<script type="text/javascript" src="{{ webconfig.getjQuery }}"></script>
<script type="text/javascript" src="{{ webconfig.bootstrapJS }}" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
