{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="container">

            <h2 class="page-header">Terms</h2>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Createdat</th>
                        <th>Updatedat</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for term in terms %}
                        <tr>
                            <td><a href="{{ path('admin_taxonomy_term_show', { 'id': term.id }) }}">{{ term.id }}</a></td>
                            <td>{% if term.createdAt %}{{ term.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{% if term.updatedAt %}{{ term.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{{ term.name }}</td>
                            <td>{{ term.description }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('admin_taxonomy_term_show', { 'id': term.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_taxonomy_term_edit', { 'id': term.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('admin_taxonomy_term_new') }}">Create a new entry</a>
                </li>
            </ul>

        </div>
    </div>
{% endblock %}

