{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="container">

            <h2 class="page-header">Taxonomies <a class="btn btn-primary" href="{{ path('admin_taxonomy_new') }}">Create</a></h2>

            <table class="table table-hover" id="taxonomy">
                <thead>
                    <tr>
                        <th>Id</th>
                            {#                        <th>Createdat</th>#}
                            {#                        <th>Updatedat</th>#}
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for taxonomy in taxonomies %}
                        <tr>
                            <td><a href="{{ path('admin_taxonomy_show', { 'id': taxonomy.id }) }}">{{ taxonomy.id }}</a></td>
                                {#                            <td>{% if taxonomy.createdAt %}{{ taxonomy.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                                {#                            <td>{% if taxonomy.updatedAt %}{{ taxonomy.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                            <td>{{ taxonomy.name }}</td>
                            <td>{{ taxonomy.description }}</td>
                            <td>
                                <ul class="list-inline">
                                    <li>
                                        <a class="btn btn-default" href="{{ path('admin_taxonomy_show', { 'id': taxonomy.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a class="btn btn-primary" href="{{ path('admin_taxonomy_edit', { 'id': taxonomy.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"/>
{% endblock %}
    
{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#taxonomy').DataTable();
        });
    </script>
{% endblock %}
