{% extends 'base.html.twig' %}

{% block body %}
    <h1>Taxonomy</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ taxonomy.id }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if taxonomy.createdAt %}{{ taxonomy.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if taxonomy.updatedAt %}{{ taxonomy.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ taxonomy.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ taxonomy.description }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ taxonomy.slug }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('taxonomy_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('taxonomy_edit', { 'id': taxonomy.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
